.image {
    height: 800px;
    margin-top: -150px;
}

.home {
    color: black;
}

.button {
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #bdcbd4dc;
    color: black;
    border-radius: 5px;
}